<h1>Add a Movie</h1>

<form action="/movies/<%= @movie.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  Title:<br>
  <input type="text" name="movie[title]" value="<%= @movie.title %>"><br>
  Rating:<br>
  <input type="text" name="movie[rating]" value="<%= @movie.rating %>"><br>
  <input type="submit">
</form><br>

<p><a href="/movies/<%= @movie.id %>">Back to movie!</a></p>
